<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
     
</head>
<body style="background-color: rgb(59, 57, 57);color: white;">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-light me-md-2" type="button">Explore Premium</button>
          <button class="btn btn-dark" type="button">Install App</button>
          <button class="btn btn-dark" type="button">Profile</button>
         </div>
         <div class=" container-fluid fixed-center" >
          <div class="row">
            <div class="col-sm-6" id="id1">
                <img src="image/inn.png" width="250px" height="250px"style="float: left;margin-right: 10px;">
              <p>EP</p>
              <h1>Indru Netru Nalai(Original motion Picture Sound Track)</h1>
              <img class="rounded-circle" src="image/tamil.jpeg" width="70px" height="70px"style="float: left;margin-right: 10px;">
              <br><p>Hiphop Tamizha.2015.5song,14min 53sec</p><br><br>
              <div class="border"></div>
              <div>
              
                  <div class="row" id="id4">
                    <img class="rounded-circle" src="image/play.png" width="20px" height="20x"style="float: left;margin-right: 10px;">

              </div>