
#active:hover{
    color: white;
     font-weight: bold;
}

a.nav-link{
    color:white;
}
a.navbar-brand{
    color: white;
    padding-left: 250px;
    font-size: 30px;
}
#navbarSupportedContent{
    padding-left: 230px;
}
.wrap-wrap{
    flex-wrap: wrap;
}
.img-fluid{
    width:100%;
}
#id7{
    background-color: rgb(58, 56, 56);
}
#id8{
    background-color:black;
}
#id9{
    color: white;
}