
#active:hover{
    color: white;
    box-shadow: 0 0 5px  ,0 0 10px blue,0 0 15px blue;
     font-weight: bold;
}

a.nav-link{
    color:white;
}
a.navbar-brand{
    color: white;
}
#navbarSupportedContent{

    
    padding-left: 150px;
}
.wrap-wrap{
    flex-wrap: wrap;
}
.img-fluid{
    width:100%;
}
